<!DOCTYPE html>
<html>
    <head>
        <title>My ToDo</title>
        <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #fff;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-family: 'Georgia', serif;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
        }

        .button {
            display: flex;
            justify-content: right;
        }
        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .submit {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-radius: 5px;
            color: #fff;
            background-color: #3498db;
            border: 2px solid #3498db;
            transition: background-color 0.3s, color 0.3s;
        }

        
        .submit:hover {
            background-color: #2980b9;
            border-color: #2980b9;
        }

        .fancy-input-button {
            padding: 10px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-radius: 5px;
            color: black;
            background-color: white;
            border: 2px solid grey;
            transition: background-color 0.3s, color 0.3s;
        }

        .hidden-input {
            display: none;
        }
        .complete {
            text-decoration: line-through;
            font-style: italic;
        }
        .green-button {
        background-color: green;
        color: white;
        padding: 10px 20px; 
        border-radius: 5px;
        font-size: 16px;
        justify-content: center;
        outline: none;
        padding-left: 10px;
          margin-right: 10px;
        }

        .red-button {
        background-color: red;
        color: white;
        padding: 10px 20px; 
        border-radius: 5px;
        font-size: 16px;
        align-items: center;
        outline: none;
        margin-right: 10px;
        }

        .orange-button {
        background-color: rgb(237, 101, 4);
        color: white;
        padding: 10px 20px; 
        border-radius: 5px;
        font-size: 16px;
        align-items: center;
        outline: none;
        padding-left: 10px;
        margin-right: 10px;
        }

        .green-button:hover{
            background-color: rgb(3, 101, 3);
            transition: 0.3s; 
            transform: translate(2px, -2px);
        }
        .orange-button:hover{
            background-color: rgb(165, 70, 3);
            transition: 0.3s; 
            transform: translate(2px, -2px);
        }
        .red-button:hover{
            background-color: rgb(181, 1, 1);
            transition: 0.3s; 
            transform: translate(2px, -2px);
        }
    </style>
    </head>

    <body>
        <h1>Welcome To My ToDo List</h1>
        <ul>
            {%for todo in ToDos%}
                    <li class="{%if todo['complete']%}complete{%endif%}">
                        {{todo['description']}}
                <div class="button">

                        <form method="POST" action="/delete_todo/{{todo['id']}}">
                            <input type="submit" value="Delete" class="red-button">
                        </form>

                         {%if todo['complete'] == 0 %}
                        <form method="POST" action="/complete_todo/{{todo['id']}}">
                            <input type="submit" value="Mark Complete" class="green-button">
                        </form>
                        {%endif%}

                        {%if todo['complete'] == 1 %}
                        <form method="POST" action="/uncomplete_todo/{{todo['id']}}">
                            <input type="submit" value="Uncomplete" class="orange-button">
                        </form>
                        {%endif%}
                </div>
                        {%if todo['complete'] %}{%endif%}
            {%endfor%}
        </ul>
        <form method="post">
            <input name = "new_todo" class="fancy-input-button">
            <div class="button-container">
                <input type="submit" class="submit">
            </div>
        </form>
    </body>
</html>